body {
    margin: 0;
    line-height: inherit;
}
.font-sans {
    font-family: Figtree,ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
}
.antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.pt-6 {
    padding-top: 1.5rem;
}
.bg-gray-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}
.text-gray-900 {
    --tw-text-opacity: 1;
    color: rgb(17 24 39 / var(--tw-text-opacity));
}
.items-center {
    align-items: center;
}
.flex-col {
    flex-direction: column;
}
.min-h-screen {
    min-height: 100vh !important;
}
.flex {
    display: flex;
}
@media (min-width: 640px) {
    .sm\:justify-center {
        justify-content: center;
    }
}
@media (min-width: 640px) {
    .sm\:pt-0 {
        padding-top: 0;
    }
}
.mt-6 {
    margin-top: 1.5rem;
}
.w-full {
    width: 100%;
}
.overflow-hidden {
    overflow: hidden;
}
.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.shadow-md {
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / .1), 0 2px 4px -2px rgb(0 0 0 / .1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow);
}
@media (min-width: 640px) {
    .sm\:max-w-md {
        max-width: 28rem;
    }
}
@media (min-width: 640px) {
    .sm\:rounded-lg {
        border-radius: .5rem;
    }
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}
.block {
    display: block;
}
.text-sm {
    font-size: .875rem;
    line-height: 1.25rem;
}
.font-medium {
    font-weight: 500;
}
.text-gray-700 {
    --tw-text-opacity: 1;
    color: rgb(55 65 81 / var(--tw-text-opacity));
}
.w-full {
    width: 100%;
}
.rounded-md {
    border-radius: .375rem;
}
.border-gray-300 {
    --tw-border-opacity: 1;
    border-color: rgb(209 213 219 / var(--tw-border-opacity));
}
.shadow-sm {
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / .05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow);
}
.mt-4 {
    margin-top: 1rem;
}
.justify-end {
    justify-content: flex-end;
}
.text-gray-600 {
    --tw-text-opacity: 1;
    color: rgb(75 85 99 / var(--tw-text-opacity));
}
.underline {
    text-decoration-line: underline;
}
button, select {
    text-transform: none;
}
button, input:where([type=button]), input:where([type=reset]), input:where([type=submit]) {
    background-color: transparent;
    background-image: none;
}
button, [role=button] {
    cursor: pointer;
}
.ms-3 {
    margin-inline-start: .75rem;
}
.inline-flex {
    display: inline-flex;
}
.items-center {
    align-items: center;
}
.rounded-md {
    border-radius: .375rem;
}
.border-transparent {
    border-color: transparent;
}
.bg-gray-800 {
    --tw-bg-opacity: 1;
    background-color: rgb(31 41 55 / var(--tw-bg-opacity));
}
.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}
.py-2 {
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.text-xs {
    font-size: .75rem;
    line-height: 1rem;
}
.font-semibold {
    font-weight: 600;
}
.uppercase {
    text-transform: uppercase;
}
.tracking-widest {
    letter-spacing: .1em;
}
.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}
.transition {
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,-webkit-backdrop-filter;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
}
.duration-150 {
    transition-duration: .15s;
}
.ease-in-out {
    transition-timing-function: cubic-bezier(.4,0,.2,1);
}
.mt-1 {
    margin-top: .25rem;
}
[type=text], input:where(:not([type])), [type=email], [type=url], [type=password], [type=number], [type=date], [type=datetime-local], [type=month], [type=search], [type=tel], [type=time], [type=week], [multiple], textarea, select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    border-color: #6b7280;
    border-width: 1px;
    font-size: 1rem;
    line-height: 1.5rem;
    --tw-shadow: 0 0 #0000;
}
*, :before, :after {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    --tw-contain-size: ;
    --tw-contain-layout: ;
    --tw-contain-paint: ;
    --tw-contain-style: ;
}
*, :before, :after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
}
input[type="password" i] {
    -webkit-text-security: disc !important;
    padding-block: 1px;
    padding-inline: 2px;
}
input {
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: field;
    margin: 0em;
    padding: 1px 0px;
    border-width: 2px;
    border-style: inset;
    border-color: light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    padding-block: 1px;
    padding-inline: 2px;
}
[type=checkbox], [type=radio] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    display: inline-block;
    vertical-align: middle;
    background-origin: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    flex-shrink: 0;
    height: 1rem;
    width: 1rem;
    color: #2563eb;
    background-color: #fff;
    border-color: #6b7280;
    border-width: 1px;
    --tw-shadow: 0 0 #0000;
}
.ms-2 {
    margin-inline-start: .5rem;
}
.text-indigo-600 {
    --tw-text-opacity: 1;
    color: rgb(79 70 229 / var(--tw-text-opacity));
}
.rounded {
    border-radius: .25rem;
}
.email_type, .password_type{
    padding: .5rem .75rem !important;
    border-color: rgb(184, 184, 184) !important; 
}
.checkbox_type{
    cursor: default;
    border-color: rgb(184, 184, 184) !important;
}
.checkbox_type_label>input[type='checkbox']:checked {
    appearance: menulist !important;
    -webkit-appearance: menulist !important;
  }
 input[type= "checkbox"]:checked+label{
    background-color: #569cc3!important;
}
.login_button:hover{
    background-color: #686868;
}
.form_login_type, .form_login_type_check{
    border-color: rgb(209 213 219 / var(--tw-border-opacity)) !important;
    border-width: 2px !important;
    border: 1px solid rgb(184, 184, 184) !important;
}
.form_login_type{
    border-radius: .375rem;
}
.form_login_type_check{
    border-radius: .200rem;
}
.validation_errors_alert{
    color: rgb(177, 0, 0);
    font-weight: bold;
    line-height: 1;
    padding: 10px;
    background-color: rgb(238, 195, 195);
    border-radius: .375rem;
    margin: 0 0 10px 0;
}